{% extends 'base.html.twig' %}
{% form_theme form _self %}

{%- block choice_widget_expanded -%}
<div {{ block('widget_container_attributes') }}>
    {% for name, choices in form.vars.choices %}
        {% if choices is iterable  %}

            <label class="choice_category">
                <strong>
                    {{ choice_translation_domain is same as(false) ? name : name|trans({}, choice_translation_domain) }}
                </strong>
            </label>
            <div>
                {% for key,choice in choices %}
                    {{ form_widget(form[key]) }}
                    {{ form_label(form[key]) }}
                {% endfor %}
            </div>

        {% else %}

            {{- form_widget(form[name]) -}}
            {{- form_label(form[name], null, {translation_domain: choice_translation_domain}) -}}

        {% endif %}
    {% endfor %}
{%- endblock choice_widget_expanded -%}

{% block title %}Demander un RDV{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }

        .span1 {
            padding: 120px 6px 40px 6px;
            margin-left: 25%;
            margin-right: 25%;
            border-left: 3px solid;
            font-size: 8;
            position: relative;
            top: 40px;
        }

        .div2 {
            display: flex;
            flex-direction: row;
        }

        .boutonValider {
            margin-top: 25%;
        }

        divPartieDroite {
            display: flex;
            flex-direction: column;
        }

    </style>

    <script>

    </script>

    <div class="example-wrapper">
        <center>
            {{ form(form) }}
        </center>


    </div>
{% endblock %}