{% extends 'base.html.twig' %}

{% block title %}Mes Rendez-vous{% endblock %}

{% block body %}
    <style>
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        li { list-style: none; }
    </style>

    <div class="container-fluid py-4">
        <h1>Mes Rendez-vous</h1>
        <table class="table table-hover align-middle">
            <thead>
            <tr>
                <th scope="col">Horaire</th>
                <th scope="col">Conseiller</th>
            </tr>
            </thead>
            <tbody>
            {% for rdv in listeRDV %}
                {% if 'now'|date('Y/m/d/H/i', "Europe/Paris") < rdv.horaire|date('Y/m/d/H/i') %}
                    <tr>
                        <td>{{ rdv.horaire|format_datetime('full') }}</td>
                        <td>{{ rdv.Conseiller.prenom }} {{ rdv.Conseiller.nom }}</td>
                        <td>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalRDV{{ rdv.id }}">
                                Supprimer
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="modalRDV{{ rdv.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Supprimer un rendez-vous</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Rendez-vous du {{ rdv.horaire|format_datetime('full') }} avec {{ rdv.Conseiller.prenom }} {{ rdv.Conseiller.nom }}
                                            <br><br>
                                            Êtes-vous sûr de vouloir supprimer ce rendez-vous ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                            <a href="/espaceTouriste/mesRDV/remove/{{ rdv.id }}" class="btn btn-danger" role="button" aria-disabled="true">Supprimer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

