{% extends 'base.html.twig' %}

{% block title %}Mes Rendez-vous{% endblock %}

{% block body %}
    <style>
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        li { list-style: none; }
    </style>

    <div class="container-fluid py-4">
        <h1>Mes Rendez-vous</h1>
        <table class="table table-hover align-middle">
            <thead>
            <tr>
                <th scope="col">Horaire</th>
                <th scope="col">Conseiller</th>
            </tr>
            </thead>
            <tbody>
            {% for rdv in listeRDV %}
                <tr>
                    <td>{{ rdv.horaire|format_datetime('full') }}</td>
                    <td>{{ rdv.Conseiller.prenom }} {{ rdv.Conseiller.nom }}</td>
                    <td><a href="/espaceTouriste/mesRDV/{{ rdv.Touriste.id }}/remove/{{ rdv.id }}" class="btn btn-danger btn-lg" role="button" aria-disabled="true">Supprimer</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

