{% extends 'base.html.twig' %}

{% block title %}Liste RDV{% endblock %}

{% block body %}
<div class="container-fluid py-4">
    <h1>Liste des rdv du conseiller {{ conseiller.prenom }}</h1>
    <table class="table table-hover align-middle">
        <thead>
        <tr>
            <th scope="col">Horaire</th>
            <th scope="col">Touriste</th>
        </tr>
        </thead>
        <tbody>
        {% for rdv in lrdv %}
            <tr>
                <td>{{ rdv.getHoraire|format_datetime('full', locale='en') }}</td>
                <td>{{ rdv.Touriste.prenom }} {{ rdv.Touriste.nom }}</td>
                <td><a href="" class="btn btn-success btn-lg" role="button" aria-disabled="true">Modifier</a></td>
                <td><a href="/espaceResponsable/ListeDesRDV/{{ conseiller.id }}/remove/{{ rdv.id }}" class="btn btn-danger btn-lg" role="button" aria-disabled="true">Supprimer</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
