{% extends 'base.html.twig' %}

{% block title %}Liste RDV{% endblock %}

{% set days = ["Mon","Tue", "Wed", "Thu", "Fri"] %}
{% set p = haute ? 1 : 0 %}
{% if p == 1 %}
    {% set h = '08:00'|date('H:i') %}
    {% set f = 24 %}
{% else %}
    {% set h = '10:00'|date('H:i') %}
    {% set f = 16 %}
{% endif %}
{% set r = 0 %}
{% set id = 0 %}

{% block javascripts %}
<script>

</script>
{% endblock %}

{% block stylesheets %}
<style>
    .td-hover:hover{
        background: #007bff;
    }
    .modal-lg{
        max-width: 35%;
    }
</style>
{% endblock %}

{% block body %}

    <div class="container py-4">
        <h1>Liste des rdv du conseiller {{ conseiller.prenom }}</h1>
        <table class="table table-responsive-sm table-hover align-middle table-bordered">
            <thead>
            <tr>
                <th scope="col">Horraire</th>
                <th style="width:20%" scope="col">Lundi</th>
                <th style="width:20%" scope="col">Mardi</th>
                <th style="width:20%" scope="col">Mercredi</th>
                <th style="width:20%" scope="col">Jeudi</th>
                <th style="width:20%" scope="col">Vendredi</th>
            </tr>
            </thead>
            <tbody>
            {% for i in 0..f %}
                <tr>
                    <td>{{ h|date('H:i') }}</td>
                    {% for day in days %}
                        {% for rdv in lrdv %}
                            {% if rdv.getHoraire|date('D') == day and rdv.getHoraire|date('H:i') == h|date('H:i') and r == 0%}
                                {% set r = 1 %}
                                <td>
                                    <a role="button" class="btn btn-primary" data-bs-toggle="modal"  data-bs-target="#detail{{ rdv.id }}">
                                        Touriste : {{ rdv.getTouriste().nom }} {{ rdv.getTouriste().prenom }}
                                    </a></td>
                                <div class="modal fade" id="detail{{ rdv.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Information détaille</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Touriste : {{ rdv.getTouriste().nom }} {{ rdv.getTouriste().prenom }}</p>
                                                <p>Conseiller : {{ conseiller.nom }} {{ conseiller.prenom }}</p>
                                                <p>Date : {{ rdv.getHoraire()|date("j/n/Y")}}</p>
                                                <p>Horaire : {{ rdv.getHoraire()|date('H:i') }}</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modification" onclick="setIdModal({{ rdv.id }})">
                                                    Modifier
                                                </button>
                                                <a role="button" class="btn btn-danger" data-bs-toggle="modal"  data-bs-target="#suppression{{ rdv.id }}">
                                                    Supprimer
                                                </a>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="suppression{{ rdv.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Supprimer le rendez-vous</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Etes-vous sûr de vouloir supprimer le rendez-vous ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                                <a role="button" href="/espaceResponsable/ListeDesRDV/{{ conseiller.id }}/remove/{{ rdv.id }}" class="btn btn-danger">Supprimer</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% if r == 0 %}
                            <td></td>
                        {% endif %}
                        {% set r = 0 %}
                    {% endfor %}
                </tr>
                {% set h = h|date_modify('+30 minutes')|date('H:i') %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="modification" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modifier le rendez-vous</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    {% form_theme form 'bootstrap_5_layout.html.twig' %}
                    {{ form_start(form) }}
                        {{ form_row(form.nouveauConseiller) }}
                        {{ form_row(form.newId) }}
                        {{ form_row(form.newDate) }}
                    <div id="miniCalendar"></div>
                    </div>
                <div class="modal-footer">
                    {{ form_row(form.submit) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <script>
        function setIdModal(newId) {
            document.getElementById("modifier_rdv_responsable_newId").setAttribute("value", newId);
        }
        function changement(){
            console.log("test");
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function() {
                document.getElementById("miniCalendar").innerHTML = this.responseText;
            }
            var select = document.getElementById('modifier_rdv_responsable_nouveauConseiller');
            var value = select.options[select.selectedIndex].value;
            xhttp.open("GET", "/espaceResponsable/miniCal/" + value, true);
            xhttp.send();
        }
        changement();
        var selected = "";
        function miniTableClick(id) {
            if(selected != "")
                document.getElementById(selected).style.background = "";
            document.getElementById(id).style.background = "#007bff";
            selected = id;
            document.getElementById("modifier_rdv_responsable_newDate").value = document.getElementById(id).getAttribute("value");
            document.getElementById("modifier_rdv_responsable_submit").disabled = "";
        }
    </script>
{% endblock %}