{% set days = ["Mon","Tue", "Wed", "Thu", "Fri"] %}
{% set saison = haute ? 1 : 0 %}
{% if saison == 1 %}
    {% set horraire = '08:00'|date('H:i') %}
    {% set nbHorraire = 24 %}
{% else %}
    {% set horraire = '10:00'|date('H:i') %}
    {% set nbHorraire = 16 %}
{% endif %}
{% set rdvDisplayed = 0 %}
{% set id = 0 %}


<table class="table table-sm align-middle table-bordered">
    <thead>
    <tr>
        <th scope="col">Horraire</th>
        <th style="width:20%" scope="col">Lundi</th>
        <th style="width:20%" scope="col">Mardi</th>
        <th style="width:20%" scope="col">Mercredi</th>
        <th style="width:20%" scope="col">Jeudi</th>
        <th style="width:20%" scope="col">Vendredi</th>
    </tr>
    </thead>
    <tbody>
    {% for i in 0..nbHorraire %}
        <tr>
            <td>{{ horraire|date('H:i') }}</td>
            {% for day in days %}
                {% for rdv in lrdv %}
                    {% if rdv.getHoraire|date('D') == day and rdv.getHoraire|date('H:i') == horraire|date('H:i') and rdvDisplayed == 0%}
                        {% set rdvDisplayed = 1 %}
                        <td class="table-secondary"></td>
                    {% endif %}
                {% endfor %}
                {% if rdvDisplayed == 0 %}
                    <td id="mt{{ id }}" class="td-hover" href="/espaceResponsable" onclick="miniTableClick('mt{{ id }}')" value="{{ monday|format_datetime(pattern="yyyy-MM-dd") }} {{ horraire|date('H:i:s') }}"></td>
                {% endif %}
                {% set rdvDisplayed = 0 %}
                {% set id = id + 1 %}
                {% set monday = monday|date_modify('+1 day') %}
            {% endfor %}
        </tr>
        {% set monday = monday|date_modify('-5 day')|date("Y-m-d") %}
        {% set horraire = horraire|date_modify('+30 minutes')|date('H:i') %}
    {% endfor %}
    </tbody>
</table>