{% extends 'base.html.twig' %}

{% block title %}Mon espace{% endblock %}

{% block body %}
    <style>
        .rdvLayout {
            border-radius: 10px;
            background-color: lightgrey;
            text-align: center;
            padding:2%;
        }
    </style>

    <h2 style="text-align: center;padding:1%;">Bonjour {{ conseiller.prenom }}</h2>

    {% for RDV in LeRDV %}
        <table class="table rdvLayout">
            <tr>
                <th style="background-color:grey;">
                    Détail du rendez-vous avec {{ RDV.Touriste.nom }} {{ RDV.Touriste.prenom }}
                </th>
            </tr>
            <tr>
                <th>
                    Langue : {{ RDV.langue }}
                </th>
            </tr>
            <tr>
                <th>
                    Lien : <a href="https://{{ RDV.lienvisio }}">Visio-conférence</a>
                </th>
            </tr>
            <tr>
                <th>
                    Date : {{ RDV.horaire|date('d/m/Y H:i') }}
                    {% set date30MinAgo =  'now -30 min'|date('d/m/Y/ à H:i')%}
                    {% set dateNow =  'now'|date('d/m/Y/ à H:i', "Europe/Paris")%}
                    {% if RDV.horaire < dateNow  and RDV.horaire > date30MinAgo %}
                        🔴
                    {% endif %}
                </th>
            </tr>
        </table>
    {% endfor %}

    {% if LeRDV|length < 1 %}
        <h4 style="text-align: center">Erreur : Le rendez-vous chargé n'existe pas !</h4>
    {% endif %}

    <a style="margin-top:2%; margin-left: 44%;" href="{{ path("conseillerRDV/SemainesFutursOuEnCours", {semaine:0})  }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Voir mes RDV</a>

{% endblock %}
