{% extends 'base.html.twig' %}

{% block title %}Mes rendez-vous{% endblock %}

{% block body %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }

        .span1 {
            padding: 120px 6px 40px 6px;
            margin-left: 20px;
            border-left: 3px solid;
            font-size: 8px;
            position: relative;
            top: 40px;
        }

        .div2 {
            display: flex;
            flex-direction: row;
        }
    </style>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Semaine X
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <a class="dropdown-item" href="#">Semaine X+1</a>
            <a class="dropdown-item" href="#">Semaine X+2</a>
            <a class="dropdown-item" href="#">Semaine X+3</a>
        </div>
    </div>

    <div class="example-wrapper"><h1 style="text-align: center;">Semaine du {{ premierJourSemaine }} au {{ dernierJourSemaine }} {{ year }}</h1>
        <br>
        <div class="div2">
            <span class="span1"></span>
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Horaire</th>
                        {% for jour in agenda|keys %}
                            <th>
                                {{ jour }}
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for heure in agenda.Lundi|keys %}
                    <tr>
                        <td>{{ heure }}</td>
                        {% for jour in agenda|keys %}
                            <td>
                            {% if agenda[jour][heure] %}
                                <a href="http://localhost:8888/espaceConseiller/detailRDV/{{ idRDVs[jour][heure] }}" style="text-decoration: none;">🟩</a>
                            {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}
